{% load static %}
<!DOCTYPE html>
<html>
  <head>
     <title> Django image and file upload using ajax </title>
  </head>
<body>
     
    <input type="file" name="" id="file">
    <img src="" id="imageView">
    <h2 id="response"></h2>
   <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"> </script>
<script >

	function call_api(){
		$('#response').text("")
		//var fileInput = document.getElementById('testImageInput');
		//on recupère l'image réduite
		const image = document.getElementById('imageView')
		var file= null
		fetch(image.src).then(res => res.blob()).then(blob => {
		  file = new File([blob], 'image.jpeg', blob)
		  console.log(file)
		  var formData = new FormData();
			formData.append("image", file);
	        $.ajax({
	            url: '',
	            type: 'POST',
	            data: formData,
	            success: function (response) {
	                console.log(response.message)
	                $('#response').text(response.message)
	            },
	            cache: false,
	            contentType: false,
	            processData: false
	        });
			//on appelle ensuite ll'api 
		})

	}
	

</script> 
<script>
	var blobURL;
	var fileName;

	// Convert a base64 string into a binary Uint8 Array 
	// https://gist.github.com/borismus/1032746
	function convertDataURIToBinary(dataURI) {
		var BASE64_MARKER = ';base64,';
		var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
		var base64 = dataURI.substring(base64Index);
		var raw = window.atob(base64);
		var rawLength = raw.length;
		var array = new Uint8Array(new ArrayBuffer(rawLength));

		for(i = 0; i < rawLength; i++) {
			array[i] = raw.charCodeAt(i);
		}
		return array;
	}
	// File Reader
	// https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
	function readFile(e) {
		//on fixe la largeur à  maximale 
		const max = 150

	    const fileName = e.target.files[0].name;
	    const reader = new FileReader();
	    reader.readAsDataURL(e.target.files[0]);
	    reader.onload = event => {
	        const img = new Image();
	        img.src = event.target.result;
	        // on affiche l'image initiale
	        img.onload = () => {
	                const elem = document.createElement('canvas');
	                //Nouveau code---------
	                var width = img.width
	                var height = img.height
	                console.log('width: '+width+', height: '+height)
	                if( width< max ){
	                	var r = max/width
	                	height = r* height
	                }
	                else if( height < max ){
	                	var r = max/height
	                	width = r * width
	                }
	                else{
	                	var r = max/height
	                	width = max
	                	height = r*height
	                }
	                elem.width = width
	                elem.height = height
	                //Fin Nouveau code---------

	                console.log('width: '+width+', height: '+height)
	                
	                const ctx = elem.getContext('2d');
	                // img.width and img.height will contain the original dimensions
	                ctx.drawImage(img, 0, 0, width, height);
	                ctx.canvas.toBlob((blob) => {
	                    const file = new File([blob], fileName, {
	                        type: 'image/jpeg',
	                        lastModified: Date.now()
	                    });
	                    console.log('file, '+file)
	                }, 'image/jpeg', 1);
	                //On récupère et affiche l'images réduite
	                dataUrl = elem.toDataURL()
	                document.getElementById('imageView').src = dataUrl;
	                call_api()
	                
	            },
	            reader.onerror = error => console.log(error);
	            //$('#imageView').attr('src', img.src)
	    };
	}


	document.getElementById('file').addEventListener('change', readFile, false);
	//document.getElementById('saveImg').addEventListener('click', downloadFile, false);
</script>

</body>
</html>